/* Simple dashboard grid CSS */

/* Assign grid instructions to our parent grid container */
.grid-container {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "header header"
    "sidenav main";
  height: 100vh;
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  background-color: #333842;
  font-size: calc(12px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.base-sidenav {
  grid-area: sidenav;
  background-color: #333842;
  justify-content: start;
}

.sidenav {
  background-color: #49505f;
  border-radius: 10px; 
  margin: 0px 10px 30px; 
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5); 
  width: 95%;
  height: 98%;
}



.main {
  grid-area: main;
  background-color: #333842;
  font-size: calc(10px + 1vmin);
  color: white;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
}

.footer {
  grid-area: footer;
  background-color: #282c34;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: black;
  padding-top: 15;
  }